<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org en">
<head>
    <meta charset="UTF-8">
    <title>Edit a product</title>
</head>
<body>
<h1>Add a new product</h1>
<form action="#" th:ation="@{/products/add}" th:object="${product}" method="post">
    <p>Id: <input type="text" th:field="*{id}"></p>
    <p>Name: <input type="text" th:field="*{name}"></p>
    <p>Category: <input type="text" th:field="*{category}"></p>
    <p>Price: <input type="number" min="0" step="0.01" th:field="*{price}"></p>
    <p>Description: <input type="text" th:field="*{description}"></p>
    <p><input type="submit" value="Modify"> <input type="reset" value="Reset"></p>
</form>
<a class="btn btn-primary" href="/">Main page</a>
</body>
</html>